*,
*::before,
*::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-image: url("../img/body-bg.png");
    background-repeat: repeat-x;
    background-size: contain;
    min-height: 100svh;
    background-position: center;
}
